.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.home-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.home-button:hover {
  background-color: #45a049;
}
